<footer class="footer">
    <div class="footer-inner">
        <p>
            <a href="/about"  title="<%= __('about') %>"><%= __('about') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <!-- 自定义链接 -->
            <a href="/help" title="<%= __('help') %>" >帮助中心</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="http://www.tjoe18.cn/join/" title="个人链接">个人链接</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="https://xiyoumobile.com/" title="3G实验室">3G实验室</a>
        </p>
        <p>
            本站点采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>，已建立<a href="/timeline" id="siteBuildingTime"></a>天<br/>
            ©2017 QiaoDing
        </p>
        <%- partial('_widget/site-analytics') %>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<%- js(['js/InsightSearch','js/SimpleCore']) %>
